<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple ai project in django</title>
</head>
<body>
{% include "bot_include.html" %}

<br/>

    <input id="the_button" type="button" value="Click to Speak">
<br/>
    <input id="the_form" type="text" name="q" size=80 >

    <script type="text/javascript">
document.getElementById("the_form").focus();

        var SpeechRecognition = new (window.SpeechRecognition || window.webkitSpeechRecognition
         || window.mozSpeechRecognition || window.msSpeechRecognition)();

        const the_button = document.getElementById("the_button");
        the_button.addEventListener('click', function(event) {
            SpeechRecognition.start();
        })

        SpeechRecognition.onresult = function(event){
            var the_text = event.results[0][0].transcript;
            document.getElementById('the_form').value = the_text;
        };

        SpeechRecognition.onend = function(){
            SpeechRecognition.stop();
        };
    </script>
</body>
</html>